body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: monospace;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid thin black;
  border-radius: 2vh;
  padding: 1vh 1vw;
  background-color: #202030;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 23vw;
  height: 10.5vh;
  border: solid thin black;
  border-radius: 2vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding: 1vh 1vw;
  background-color: #d1d1d1;
}

#display-text {
  width: 23vw;
  height: 5vh;
  margin: 0;
  font-size: 5vh;
  text-align: right;
  color: #202030;
}

.keypad {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 50vh;
  border: solid thin black;
  border-radius: 2vh;
  margin-bottom: 1vh;
  background-color: #39304a;
}

.row {
  display: flex;
  justify-content: space-around;
}

.row button {
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
  border-color: #202030;
  background-color: #d1d1d1;
  font-size: 2vh;
  color: #202030;
}
